/*LOGIN*/
body {font-family: Arial, Helvetica, sans-serif;}

/*NAV*/
nav {
    border: 1px solid black;
    width: auto;
    height: 2vw;
}

nav ul {
    display:flex;
    justify-content: space-around;
    margin:0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}


/*HEADER*/
header {
    border: 1px solid black;
}