.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: auto;
}
.padreimagen {
    position: relative;
}

.imagen {
    position: absolute;
    top: 8.5rem;
    right: 20rem;
}

.add {
    margin: 1rem;
}
/*
.tituloForm {
    text-align: center;
}

input {
    width: 15vw;
}

select {
    width: 15vw;
}*/